
[user]
	name = spark
	email = my1stk8s@gmail.com
[core]
	askpass = 
	quotePath = false
	autocrlf = true
	safecrlf = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	history = log --graph
[http]
	postBuffer = 1048576000

